body {
    background-color: #180427;
}


#gameWindow {
    display: flex;
    flex-direction: row;
    background-color: #44B2B2;
}

#left {
    width: 50vh;
}

#right {
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.yellow-box {
    background-color: #DBCA9E;
}
