@font-face {
    font-family: "Ruda";
    src: url("../fonts/Ruda/static/Ruda-Medium.ttf");
}

.navy-blue {
    background-color: #260F38
}

.purple {
    background-color: #491744;
}

.deep-blue {
    background-color: #180427;
}

.aquamarine {
    background-color: #47FC90;
}

.yellow {
    background-color: #E6EA2B;
}

.orange {
    background-color: #FC8129;
}

.red {
    background-color: #BE2424;
}

.light-blue {
    background-color: #255D9E;
}

.scarlet {
    background-color: #EB1717;
}

body {
    background-color: #180427;
    font-family: Ruda, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

main {
    display: flex;
}

h2, h3, h4, h5, h6 {
    margin: 0;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#game-window {
    background-color: #44B2B2;
    align-self: center;
    width: 80vw;
}

#left {
    width: 50vw;
}

#left h1 {
    color: #BE2424;
}

#game-box {
    background-color: #C4C4C4;
    box-shadow: 0.8em 0.8em 0.3em rgba(0, 0, 0, 0.25);
    height: 75vh;
    /*width: 35vw;*/
    width: 45vh;
    display: flex;
    flex-wrap: wrap;
}

#right {
    height: 90vh;
    width: 30vw;
    justify-content: space-around;
}

.yellow-box {
    width: 20vw;
    height: 10vw;
    background-color: #DBCA9E;
    color: #9C6969;
}

.square {
    background-color: #fff;
    /*width: 3.5vw;*/
    width: 4.5vh;
    height: 3.75vh;
    border: 0.05em solid #c5c5c5;
    box-sizing: border-box;
}

#block-info h3 {
    margin-top: 0.5em;
}

#next-block {
    width: 7em;
    height: 7em;
    margin: 0.25em;
    background-color: #796868;
    display: flex;
    flex-wrap: wrap;
}

#game-info {
    justify-content: center;
}

#game-info h3 {
    padding: 0.5em;
}

#music-control {
    padding: 0.5em;
}

#music-control h3 {
    padding: 0.1em 0.5em;
}

#on-music-btn {
    background-color: #313030;
    padding: 0.2em;
    cursor: pointer;
    color: #ffffff;
}

#off-music-btn {
    background-color: #898181;
    padding: 0.2em;
    cursor: pointer;
    color: #ffffff;
}

#game-controls h5 {
    margin-bottom: 0.3em;
}

#game-controls div {
    align-items: center;
}

#game-controls div img {
    height: 3em;
    width: 3em;
}

