@font-face {
    font-family: "Ruda";
    src: url("../fonts/Ruda/static/Ruda-Medium.ttf");
}

body {
    background-color: #180427;
    font-family: Ruda;
}


#gameWindow {
    display: flex;
    flex-direction: row;
    background-color: #44B2B2;
}

#left {
    width: 50vh;
}

#right {
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.yellow-box {
    width: 10vh;
    heigh: 10vh;
    background-color: #DBCA9E;
}
